.cards{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
}

@media (min-width: 600px) {
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width: 900px) {
    .cards{
        grid-template-columns: repeat(3,1fr);
    }
}
.btn{
    margin-top: 30px;
    margin-left: 20%;
}